<h2> Search for Products </h2>

<form method="get" action="/search">
  <label for="search-term-input"> Search by name </label>
  <input id="search-term-input" type="search" name="productSearchTerm"
  <br>

  <button> Search </button>
</form>

<a href ="/products/expensive"> Most Expensive Items </a>
<br>
<br>
<a href ="/products/value"> Most Economical Items </a>

<br>
<hr>

<% if (typeof products !== 'undefined') { %>
  <h2> Results </h2>
  <ul>
  <% products.forEach((oneProduct) => { %>
  <li>
    <h3><%= oneProduct.name %> - $<%= oneProduct.price %></h3>
    <div class="prodImg">
      <img src="<%= oneProduct.imageUrl %>">
      <!-- This should be a URL that includes the ID of the product -->
      <!-- THIS IS THE OLD WAY TO MAKE A URL -->
      <!-- <a href ="/product-details?id=<%= oneProduct._id %>">View Details</a> -->
    </div>
      <br>
    <div class ="btn produButtons">
      <a href ="/products/<%= oneProduct._id %>">View Details</a>
      <br>
      <a href ="/products/<%= oneProduct._id %>/edit">Edit</a>
      <form method="post" action="/products/<%= oneProduct._id %>/delete">
      <button> Delete </button>
      </form>
    </div>
  </li>
  <% }) %>
  <br>
</ul>
  <% } %>
